<section class="container text-white pt-5 pb-5 mt-5 ">
    <h2 class="display-4 fw-bold">
        Conteúdo
        <span class="text-green">Programático</span>
    </h2>

    <div class="row d-flex justify-content-around">
        <div class="col-md-12 bg-green mt-4 text-center pt-2 pb-2 pill-top">
            <h2 class="text-blue text-center fw-bolder m-0 display-5">Montando o seu projeto de vida!</h2>
        </div>

        <!-- MÓDULO 1 -->
        <%- include('./contents/module1.ejs')  %> 

        <!-- MÓDULO 2 -->
        <%- include('./contents/module2.ejs')  %> 
  
        <!-- MÓDULO 3 -->
        <%- include('./contents/module3.ejs')  %> 

    </div>
</section>