<section class="container text-white pt-5 pb-5 mt-5 ">
    <h2 class="display-4 fw-bold">
        Conteúdo
        <span class="text-green">Programático</span>
    </h2>

    <div class="row d-flex justify-content-around">


        <!-- MÓDULO 1 -->
        <%- include('./contents/module1.ejs')  %> 

        <!-- MÓDULO 2 -->
        <%- include('./contents/module2.ejs')  %> 
  
        <!-- MÓDULO 3 -->
        <%- include('./contents/module3.ejs')  %> 

    </div>
</section>