<section class="container-fluid text-white pt-5 pb-5 mt-5 d-flex justify-content-center align-items-center">
    <div class="d-block">
        <h2 class="display-5 fw-bold text-center">
            Principais
            <span class="text-green">
                Dúvidas
            </span>
        </h2>

        <ul class="fs-4 fw-bold text-start">
            <li class=" bg-transparent mt-2 text-white">Existe um prazo para devolução do dinheiro?
                <button onclick="showFaq(1)" class="btn btn-faq text-green fs-2 fw-bold border-0">
                    <span>+</span>
                </button>
                <div class="d-none text-list" id="btn-faq-1">
                    <span class="fs-5 fw-normal">Temos o período de 7 dias para sua devolução, mas temos certeza que vai
                        ser
                        um investimento que não vai se arrepender.
                    </span>
                </div>
            </li>
            <li class=" bg-transparent mt-2 text-white">Quantos módulos o curso possuirá?
                <button onclick="showFaq(2)" class="btn btn-faq text-green fs-2 fw-bold border-0">
                    <span>+</span>
                </button>
                <div class="d-none text-list" id="btn-faq-2">
                    <span class="fs-5 fw-normal">Temos o período de 7 dias para sua devolução, mas temos certeza que vai
                        ser
                        um investimento que não vai se arrepender.
                    </span>
                </div>
            </li>
            <li class=" bg-transparent mt-2 text-white">Vou ter uma equipe de suporte do curso?
                <button onclick="showFaq(3)" class="btn btn-faq text-green fs-2 fw-bold border-0">
                    <span>+</span>
                </button>
                <div class="d-none text-list" id="btn-faq-3">
                    <span class="fs-5 fw-normal">Temos o período de 7 dias para sua devolução, mas temos certeza que vai
                        ser
                        um investimento que não vai se arrepender.
                    </span>
                </div>
            </li>
            <li class=" bg-transparent mt-2 text-white">Quais formas de pagamento são aceitos?
                <button onclick="showFaq(4)" class="btn btn-faq text-green fs-2 fw-bold border-0">
                    <span>+</span>
                </button>
                <div class="d-none text-list" id="btn-faq-4">
                    <span class="fs-5 fw-normal">Temos o período de 7 dias para sua devolução, mas temos certeza que vai
                        ser
                        um investimento que não vai se arrepender.
                    </span>
                </div>
            </li>
            <li class=" bg-transparent mt-2 text-white">O curso possuí atualizações?
                <button onclick="showFaq(5)" class="btn btn-faq text-green fs-2 fw-bold border-0">
                    <span>+</span>
                </button>
                <div class="d-none text-list" id="btn-faq-5">
                    <span class="fs-5 fw-normal">Temos o período de 7 dias para sua devolução, mas temos certeza que vai
                        ser
                        um investimento que não vai se arrepender.
                    </span>
                </div>
            </li>
            <li class=" bg-transparent mt-2 text-white">Por quanto tempo vou ter acesso ao curso?
                <button onclick="showFaq(6)" class="btn btn-faq text-green fs-2 fw-bold border-0">
                    <span>+</span>
                </button>
                <div class="d-none text-list" id="btn-faq-6">
                    <span class="fs-5 fw-normal">Temos o período de 7 dias para sua devolução, mas temos certeza que vai
                        ser
                        um investimento que não vai se arrepender.
                    </span>
                </div>
            </li>
        </ul>
    </div>

</section>