<section class="container text-white pt-5 pb-5 mt-5 bg-iphone">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div
                class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="https://landing-vendas.s3.amazonaws.com/icons/money-bag.svg"
                    alt="money-bag.svg">
                <span class="ms-4 ">Quanto custa para <br>
                    atingir o patrimônio <br>
                    que você planejou?
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">

        </div>
        <div class="col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div
                class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="https://landing-vendas.s3.amazonaws.com/icons/coins.svg" alt="money-bag.svg">
                <span class="ms-4 ">
                    O que é preciso <br>
                    fazer? Quanto é <br>
                    preciso poupar? <br>
                    Quanto é preciso <br>
                    investir?
                </span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div
                class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="https://landing-vendas.s3.amazonaws.com/icons/bank.svg" alt="money-bag.svg">
                <span class="ms-4 ">
                    Do que vou ter que <br>
                    abrir mão?
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">

        </div>
        <div class="col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div
                class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="https://landing-vendas.s3.amazonaws.com/icons/money-coins.svg"
                    alt="money-bag.svg">
                <span class="ms-4 ">
                    O grande problema <br>
                    que você enfrenta <br>
                    não é com dinheiro <br>
                    e sim com sua falta <br>
                    de conhecimento.
                </span>
            </div>
        </div>
    </div>
    <div class="row text-center d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div
                class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="https://landing-vendas.s3.amazonaws.com/icons/wallet.svg" alt="money-bag.svg">
                <span class="ms-4 ">
                    E você não pode <br>
                    terceirizar o seu futuro <br>
                    para alguém que não <br>
                    está nem 1% preocupado <br>
                    com o planejamento que você fez para sua vida.
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
</section>