<section class="container text-white pt-5 pb-5 mt-5 bg-iphone">
    <div class="row d-flex justify-content-center align-items-center mt-m50">
        <div class="reveal position-relative col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="/icons/money-bag.svg" alt="money-bag.svg">
                <span class="ms-4 fs-15">
                    Quanto custa para 
                    atingir o patrimônio <br>
                    que você planejou?
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-m50">
        <div class="col-sm-12 col-md-6">

        </div>
        <div class="reveal position-relative col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="/icons/coins.svg" alt="coins.svg">
                <span class="ms-4  fs-15">
                    O que é preciso <br>
                    fazer? Quanto é <br>
                    preciso poupar? <br>
                    Quanto é preciso <br>
                    investir?
                </span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-m50">
        <div class="reveal position-relative col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="/icons/bank.svg" alt="bank.svg">
                <span class="ms-4  fs-15">
                    Do que vou ter que <br>
                    abrir mão?
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-m50">
        <div class="col-sm-12 col-md-6">

        </div>
        <div class="reveal position-relative col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="/icons/money-coins.svg" alt="money-coins.svg">
                <span class="ms-4  fs-15">
                    O grande problema <br>
                    que você enfrenta <br>
                    não é com dinheiro <br>
                    e sim com sua falta <br>
                    de conhecimento.
                </span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-m50">
        <div class="reveal position-relative col-sm-12 col-md-6 mt-4 d-flex justify-content-center">
            <div class="w-390 bg-blue d-flex justify-content-center align-items-center h-200 ps-5 pe-5 rounded-st-be">
                <img width="60" src="/icons/wallet.svg" alt="wallet.svg">
                <span class="ms-4 fs-15">
                    E você não pode terceirizar o seu futuro para alguém que não está nem 1% preocupado com o
                    planejamento que você fez para sua vida.
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">

        </div>
    </div>
</section>