<section class="text-white pt-5 pb-5 mt-5 bg-city">
    <div class="container">
        <h2 class="display-5">
            Quem te guiará nessa
            <span class="text-green">Jornada</span>
            ?
        </h2>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-4 text-center">
                <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/mauro.png" alt="mauro.png">
                <h3 class="fs-2 text-green mt-2">Mauro Chuairi</h3>
                <h5 class="mt-2">ECONOMISTA E EMPRESÁRIO</h5>
            </div>
            <div class="col-md-8 mt-3">
                <p class="fs-5">Atuo no mercado financeiro há mais de 15 anos, dediquei praticamente toda minha vida profissional a
                    <span class="text-green">
                        transformar a vida dos meus clientes
                    </span>
                    , e foi em busca desse propósito que eu tive acesso a um método
                    usado há décadas pelos grandes gestores de famílias afortunadas em todo o mundo, que poderia
                    literalmente
                    <span class="text-green">
                        transformar de forma rápida
                    </span>
                    qualquer pessoa em acumulador de riqueza mesmo que essa não
                    entendesse nada de finanças e investimentos.
                </p>
            </div>
        </div>
    </div>
</section>