<section class="container text-white pt-5 pb-5 mt-5 satisfaction">
    <h2 class="fw-bold fs-1">
        Satisfação
        <span class="text-green">
            Garantida
        </span>
        e Risco
        <span class="text-green">
            Zero
        </span>
        !
    </h2>

    <div class="bg-blue mt-3 p-5 rounded-st-be">
        <p class="fs-4 fw-bold">
            <span class="text-green">
                Isso mesmo!
            </span>
            Você tem uma garantia incondicional de 7 dias! Ou seja, dentro dos primeiros 7 dias, se você entender que o
            <span class="text-green">
                Método One Value
            </span>
            não é para você, basta pedir de reembolso que devolvemos todo o valor investido.
            <span class="text-green">
                É RISCO ZERO para você!
            </span>
        </p>
    </div>
</section>