<section class="bg-ny text-white pt-5 pb-5 d-flex justify-content-center align-items-center">
    <div class="border-green mt-5 mb-5 text-center ps-3 pe-3">
        <h1 class="fw-bold display-3 mt-5">INSCREVA-SE AGORA</h1>
        <h2 class="fw-bold fs-4">E TENHA ACESSO IMEDIATO</h2>

        <p class="mt-5 fs-5">
            DE <span class="text-decoration-line-through">R$957</span>
            POR
        </p>

        <span class="text-green fs-1 fw-bold">R$</span>
        <span class="text-green fs-30 fw-bold">197</span>
        <span class="text-green fs-1 fw-bold">,00</span>

        <div class="d-block mb-5 mt-4">
            <button class="btn btn-green rounded-pill fw-bold ps-5 pe-5 fs-5">FAZER MINHA INSCRIÇÃO</button>
        </div>
    </div>
</section>