<section class="bg-onevalue text-white pt-5 pb-5 mt-5 fs-4 ">
    <div class="container">
        <p>
            Com o Método
            <span class="text-green">onevalue</span>
            você terá um mapa completo da sua vida financeira e conseguirá, de forma prática, descobrir e construir tudo o que você precisa
            fazer para chegar ao que você planejou.
        </p>

        <p class="mt-5">
            Você vai aprender mais do que termos financeiros, vai aprender como utilizar todos os ativos e
            ferramentas que existem no mercado para chegar ao que você planejou.
        </p>
    </div>
</section>