<section class="container text-white pt-5 pb-5 mt-5 fs-4 onevalue2">
    <h2 class="display-4">
        Para quê é o
        <span class="text-green">Método</span>?
    </h2>

    <div class="row d-flex align-items-center mt-5">
        <div class="col-sm-12 col-md-8">
            <div class="d-flex align-items-start">
                <img src="/icons/arrow.svg" alt="arrow.svg">
                <div class="d-block">
                    <p class="text-green ms-4">
                        Não depender de terceiros para
                        cuidar do seu dinheiro
                    </p>
                    <p class="ms-4">
                        Não importa o seu nível de conhecimento você conseguirá aplicar o método.
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-start mt-5">
                <img src="/icons/arrow.svg" alt="arrow.svg">
                <div class="d-block">
                    <p class="text-green ms-4">
                        Fazer a carteira render
                    </p>
                    <p class="ms-4">
                        Depois de desenhado o seu projeto de vida, você terá um plano prático para ter rendimentos a
                        longo, médio e curto prazo.
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-start mt-5">
                <img src="/icons/arrow.svg" alt="arrow.svg">
                <div class="d-block">
                    <p class="text-green ms-4">
                        Aproveitar a vida
                    </p>
                    <p class="ms-4">
                        Você terá a tranquilidade de ver o seu dinheiro trabalhar a seu favor.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 desktop-img">
            <img class="img-fluid" src="/images/woman-pc.png" alt="woman-pc.png">
            <img class="img-fluid mt-5" src="/images/group.png" alt="group.png">
        </div>
    </div>

</section>
