<div class="col-md-12 bg-green mt-4 pt-3 pb-3 pill-top d-flex justify-content-center">
    <h2 class="title-module text-blue fw-bolder m-0 display-5">Execução</h2>
    <img id="arrow-2" width="30" onclick="display(2)" class="mobile mobile-img ms-2" src="https://landing-vendas.s3.amazonaws.com/icons/arrow-right.svg" alt="arrow-right.svg">
</div>

<div class="module-2 col-md-4 mt-3"></div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">
            <h4 class="text-green fw-bold fs-1">módulo 2</h4>
            <h6 class="fs-5"> Montando o Seu Projeto de Vida Financeiro</h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 mt-3"></div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 1</h4>
            <h6 class="fs-5">
                Método One Value. Entenda o modelo que transforma vidas
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 2</h4>
            <h6 class="fs-5">
                Construindo seu projeto de vida na prática com um app Exclusivo:
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">aula 2.1</h4>
            <h6 class="fs-5">
                Identificando o seu número da vida
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">aula 2.2</h4>
            <h6 class="fs-5">
                Entendendo seus combustíveis: Capacidade de Sobras + Investimentos
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">aula 2.3</h4>
            <h6 class="fs-5">
                Hora da verdade: descobrindo se seu projeto de vida é viável ou não
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">aula 2.4</h4>
            <h6 class="fs-5">
                Definindo de forma precisa quanto o seu patrimônio e as suas sobras precisam render
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">aula 2.5</h4>
            <h6 class="fs-5">
                Descobrindo qual perfil de investidor/risco você precisa ter para alcançar todos os seus objetivos 
            </h6>
        </div>
    </div>
</div>

<div class="module-2 col-md-12 bg-blue mt-4 mb-5 pt-3 pb-3 pill-bottom">
    <h2 class="title-module text-green text-center fw-bolder m-0 display-5">RESUMO PRÁTICO</h2>
</div>

