<div class="col-md-4 mt-3"></div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">
            <h4 class="text-green fw-bold fs-1">módulo 2</h4>
            <h6 class="fs-5">EXECUTANDO SEU <br> PROJETO DE VIDA</h6>
        </div>
    </div>
</div>

<div class="col-md-4 mt-3"></div>

<div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 1</h4>
            <h6 class="fs-5">
                DEFININDO DE FORMA <br> PRECISA QUANTO O SEU <br> PATRIMÔNIO E AS SUAS <br> SOBRAS PRECISAM
                RENDER.
            </h6>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 2</h4>
            <h6 class="fs-5">
                DESCOBRINDO QUAL PERFIL DE <br> INVESTIR/RISCO VOCÊ <br> PRECISA TER PARA ALCANÇAR <br> TODOS
                SEUS OBJETIVOS.
            </h6>
        </div>
    </div>
</div>

<div class="col-md-12 bg-blue mt-4 mb-5 pill-bottom">
    <h4 class="text-green text-center pt-2 pb-2 m-0 fw-bold fs-1">RESUMO PRÁTICO</h4>
</div>

<div class="col-md-12 bg-green mt-4 text-center pt-1 pb-1 pill-top mt-5">
    <h2 class="text-blue text-center fw-bolder m-0 display-5">Poupar</h2>
</div>