<div onclick="display(1)" class="module col-md-12 bg-green mt-4 pt-3 pb-3 pill-top d-flex justify-content-center position-relative">
    <h2 class="title-module text-blue fw-bolder m-0 display-5 text-center me-3">Montando o seu projeto de vida!</h2>
    <img id="arrow-1" width="30"
        class="mobile mobile-img ms-2 me-2 text-end position-absolute end-0"
        src="https://landing-vendas.s3.amazonaws.com/icons/simple-arrow-down.svg" alt="arrow-right.svg">
</div>

<div class="module-1 col-md-4 mt-3"></div>

<div class="module-1 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">
            <h4 class="text-green fw-bold fs-1">módulo 1</h4>
            <h6 class="fs-5">Decifrando o Protocolo Financeiro do Sucesso</h6>
        </div>
    </div>
</div>

<div class="module-1 col-md-4 mt-3"></div>

<div class="module-1 col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 1</h4>
            <h6 class="fs-5">
                Quais os 4 pilares de uma vida financeira próspera?
            </h6>
        </div>
    </div>
</div>

<div class="module-1 col-md-12 bg-blue mt-4 mb-5 pt-3 pb-3 pill-bottom">
    <h2 class="resumo-pratico text-green text-center fw-bolder m-0 display-5">RESUMO PRÁTICO</h2>
</div>