<div class="col-md-4 mt-3"></div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">
            <h4 class="text-green fw-bold fs-1">módulo 1</h4>
            <h6 class="fs-5">COMO APROVEITAR <br>
                MELHOR O CURSO </h6>
        </div>
    </div>
</div>

<div class="col-md-4 mt-3"></div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 1</h4>
            <h6 class="fs-5">
                QUAIS OS 4 PILARES DE <br> UMA VIDA FINANCEIRA <br> PRÓSPERA.
            </h6>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 2</h4>
            <h6 class="fs-5">
                MÉTODO ONE VALUE. <br> ENTENDA O MODELO <br> QUE TRANSFORMA <br> VIDAS.
            </h6>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 3</h4>
            <h6 class="fs-5">
                CONSTRUINDO SEU <br> PROJETO DE VIDA NA <br> PRÁTICA COM UM APP EXCLUSIVO.
            </h6>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 3.1</h4>
            <h6 class="fs-5">
                IDENTIFICANDO O SEU NÚMERO DA VIDA.
            </h6>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 3.2</h4>
            <h6 class="fs-5">
                ENTENDENDO SEUS <br> COMBUSTÍVEIS: <br> CAPACIDADE DE SOBRAS + INVESTIMENTOS
            </h6>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
    <div
        class="bg-blue w-370 h-200 rounded-st-be text-center text-uppercase d-flex justify-content-center align-items-center">
        <div class="d-block">

            <h4 class="text-green fw-bold fs-1">AULA 3.3</h4>
            <h6 class="fs-5">
                HORA DA VERDADE: <br> DESCOBRINDO SE SEU <br> PROJETO DE VIDA É <br> VIÁVEL OU NÃO
            </h6>
        </div>
    </div>
</div>

<div class="col-md-12 bg-blue mt-4 mb-5 pill-bottom">
    <h4 class="text-green text-center pt-2 pb-2 m-0 fw-bold fs-1">RESUMO PRÁTICO</h4>
</div>

<div class="col-md-12 bg-green mt-4 text-center pt-1 pb-1 pill-top mt-5">
    <h2 class="text-blue text-center fw-bolder m-0 display-5">Execução</h2>
</div>